  <div class="mm-menu__header">
    <!--<h2 class="mm-menu__title">Andrew Thiele</h2>-->
  </div>
  <ul class="mm-menu__items">
    <li class="mm-menu__item">
      <a class="mm-menu__link" ng-href="#/about">
        <span class="mm-menu__link-text">About</span>
      </a>
    </li>
    <li class="mm-menu__item">
      <a class="mm-menu__link" ng-href="#/statement">
        <span class="mm-menu__link-text">Statement</span>
      </a>
    </li>
    <li class="mm-menu__item">
      <a class="mm-menu__link" ng-href="#/work-2016">
        <span class="mm-menu__link-text">Work</span>
      </a>
    </li>
    <li class="mm-menu__item">
      <a class="mm-menu__link" href="#">
        <span class="mm-menu__link-text">Contact</span>
      </a>
    </li>
  </ul>