        <!-- Page Content -->
    
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 about">
                        <a class=".testLink"ng-href="#/">home</a>
                        <!--<a href="#menu-toggle" class="btn btn-default " id="menu-toggle"><i class="fa fa-bars"></i></a> -->
                       <p>Over the last 10 years, Andrew Thiele has become known<br>
                        as the founder of Artek, a thriving creative agency based in midtown<br> 
                        Manhattan. More recently, Thiele is  recognized for his large-scale paintings<br>
                        that redefine culture and cross  socio-economic borders from 5th<br>
                        avenue advertising to lost signage in the Bronx. The prolific outsider artist<br> 
                        leads his audience through intimate views of urbanization and pop culture.</p>
                    </div>
                </div>
            </div>
 
        <!-- /#page-content-wrapper -->