        <!-- Page Content -->
       
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-9 about">
            <p>Phone  - <a href="tel:2128421514" target="_blank">212.842.1514</a> <br>
            email - <a href="mailto:studio@andrewthiele.com" target="_blank">studio@andrewthiele.com</a></p>
            <p>design studio - artek creative inc<br>
           <a href="https://www.google.com/maps/place/Artek+Creative+Inc./@40.755424,-73.9949207,17z/data=!3m1!4b1!4m2!3m1!1s0x89c259ad3d978295:0x68c2b0cc63140eb2" target="_blank"> 325. w. 38th st. suite 508 | New York, NY 10018</a></p>
            <p><a href="https://www.instagram.com/arteknyc/" target="_blank">instagram</a> | <a href="https://twitter.com/ArtekCreative" target="_blank">twitter</a></p>
            
           
        </div>
    </div>
</div>
    
        <!-- /#page-content-wrapper -->
        
