        <!-- Page Content -->
       
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 about">
                        <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars"></i></a> -->
                       <p>Someone once asked me “why” Why do I make art....<br>  
                        Whether it be artwork to represent their brand with my agency<br>
                        or artwork I make for myself from my soul. I am constantly creating.
                         Its who I am, and why I am here. Art is part of my existence..</p>
                    </div>
                </div>
            </div>
    
        <!-- /#page-content-wrapper -->