<div class="container">
    <div class="row">
        <div class="col-md-12" >
             <button class="btn newNext" type="button" id="goToNextSlide"></button>
            <div class="demo">
        <div class="item">            
            <div class="clearfix">
                <ul id="main-gallery" class="gallery list-unstyled cS-hidden">
                    <li data-thumb="images/gallery/2013/thumb/skulls.jpg"> 
                        <a href="#/work/2013"><img src="images/gallery/2013/skulls.jpg" /></a>
                         </li> <!--good-->
                    <li data-thumb="images/gallery/2014/thumb/liquor-store.jpg"> 
                      <a href="#/work/2014"><img src="images/gallery/2014/liquor-store.jpg" /></a>
                         </li><!--good-->
                    <li data-thumb="images/gallery/2015/thumb/gold-900.jpg"> 
                        <a href="#/work/2015"><img src="images/gallery/2015/gold-900.jpg" /></a><!--good-->
                         </li>
                    <li data-thumb="images/gallery/2015/thumb/second-ave.jpg"> 
                        <a href="#/work/2015"><img src="images/gallery/2015/second-ave.jpg" /></a>
                         </li><!--good-->
                    <li data-thumb="images/gallery/2015/thumb/exxon.jpg"> 
                        <a href="#/work/2015"><img src="images/gallery/2015/exxon.jpg" /></a>
                         </li>
                </ul>
            </div>
        </div>

        </div>
         <button class="btn newPrev" type="button" id="goToPrevSlide"></button>
        </div>
        </div>
    </div>
</div>