<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!--<ul id="adaptive" class="gallery content-slider list-unstyled clearfix cS-hidden">-->
            <!--    <li>-->
            <!--        <img src="images/gallery/2016/slide-1.jpg" />-->
            <!--    </li>-->
            <!--    <li>-->
            <!--        <img src="images/gallery/2016/slide-2.jpg" />-->
            <!--    </li>-->
            <!--    <li>-->
            <!--        <img src="images/gallery/2016/slide-3.jpg" />-->
            <!--    </li>-->
            <!--    <li>-->
            <!--        <img src="images/gallery/2016/slide-4.jpg" />-->
            <!--    </li>-->
            <!--    <li>-->
            <!--        <img src="images/gallery/2016/slide-5.jpg" />-->
            <!--    </li>-->
            <!--    <li>-->
            <!--        <img src="images/gallery/2016/slide-6.jpg" />-->
            <!--    </li>-->
            <!--</ul>-->
            <div class="demo">
        <div class="item">            
            <div class="clearfix">
                <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                    <li data-thumb="images/gallery/2016/thumb/slide-1.jpg"> 
                        <img src="images/gallery/2016/slide-1.jpg" />
                         </li>
                    <li data-thumb="images/gallery/2016/thumb/slide-2.jpg"> 
                        <img src="images/gallery/2016/slide-2.jpg" />
                         </li>
                    <li data-thumb="images/gallery/2016/thumb/slide-3.jpg"> 
                        <img src="images/gallery/2016/slide-3.jpg" />
                         </li>
                    <li data-thumb="images/gallery/2016/thumb/slide-4.jpg"> 
                        <img src="images/gallery/2016/slide-4.jpg" />
                         </li>
                    <li data-thumb="images/gallery/2016/thumb/slide-5.jpg"> 
                        <img src="images/gallery/2016/slide-5.jpg" />
                         </li>
                    <li data-thumb="images/gallery/2016/thumb/slide-6.jpg"> 
                        <img src="images/gallery/2016/slide-6.jpg" />
                         </li>
                    <li data-thumb="images/gallery/2016/thumb/slide-7.jpg"> 
                        <img src="images/gallery/2016/slide-7.jpg" />
                         </li>
                    <li data-thumb="images/gallery/2016/thumb/slide-8.jpg"> 
                        <img src="images/gallery/2016/slide-8.jpg" />
                         </li>
                    <li data-thumb="images/gallery/2016/thumb/slide-9.jpg"> 
                        <img src="images/gallery/2016/slide-9.jpg" />
                         </li>
                </ul>
            </div>
        </div>

        </div>
        </div>
        </div>
    </div>
</div>