<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button class="btn newNext" type="button" id="goToNextSlide2015"></button>
            <div class="demo" id="Gal2015">
        <div class="item">            
            <div class="clearfix">
                <ul id="2015-gallery" class="gallery list-unstyled cS-hidden">
                    <li data-thumb="images/gallery/2015/thumb/american-flag.jpg"> 
                        <img src="images/gallery/2015/american-flag.jpg" />
                    </li>                     
                    <li data-thumb="images/gallery/2015/thumb/bodega.jpg"> 
                        <img src="images/gallery/2015/bodega.jpg" />
                    </li> 
                    <li data-thumb="images/gallery/2015/thumb/broken.jpg"> 
                        <img src="images/gallery/2015/broken.jpg" />
                    </li> 
                    <li data-thumb="images/gallery/2015/thumb/bway.jpg"> 
                        <img src="images/gallery/2015/bway.jpg" />
                    </li> 
                    <li data-thumb="images/gallery/2015/thumb/capone-luciano.jpg"> 
                        <img src="images/gallery/2015/capone-luciano.jpg" />
                    </li> 
                    <li data-thumb="images/gallery/2015/thumb/color-study-2015.jpg"> 
                        <img src="images/gallery/2015/word-play.jpg" />
                    </li> 
                    <li data-thumb="images/gallery/2015/thumb/exxon.jpg"> 
                        <img src="images/gallery/2015/exxon.jpg" />
                    </li> 
                    <li data-thumb="images/gallery/2015/thumb/gold-900.jpg"> 
                        <img src="images/gallery/2015/gold-900.jpg" />
                    </li> 
                    <li data-thumb="images/gallery/2015/thumb/lady-liberty.jpg"> 
                        <img src="images/gallery/2015/lady-liberty.jpg" />
                    </li> 
                    <li data-thumb="images/gallery/2015/thumb/nike-green-gold.jpg"> 
                        <img src="images/gallery/2015/nike-green-gold.jpg" />
                    </li> 
                    <li data-thumb="images/gallery/2015/thumb/red-light-girls.jpg"> 
                        <img src="images/gallery/2015/red-light-girls.jpg" />
                    </li> 
                    <li data-thumb="images/gallery/2015/thumb/running-colors.jpg"> 
                        <img src="images/gallery/2015/running-colors.jpg" />
                    </li> 
                    <li data-thumb="images/gallery/2015/thumb/second-ave.jpg"> 
                        <img src="images/gallery/2015/second-ave.jpg" />
                    </li> 
                    <li data-thumb="images/gallery/2015/thumb/west-4.jpg"> 
                        <img src="images/gallery/2015/west-4.jpg" />
                    </li> 
                    <li data-thumb="images/gallery/2015/thumb/word-play.jpg"> 
                        <img src="images/gallery/2015/word-play.jpg" />
                    </li> 
                </ul>
            </div>
        </div>

        </div>
         <button class="btn newPrev" type="button" id="goToPrevSlide2015"></button>
        </div>
        </div>
    </div>
</div>