<h1 style="text-align:center;">Work Page 2016</h1>



  
  
    <!-- main slider carousel -->
    <div class="row">
        <div class="col-md-12" id="slider">
            
                <div class="col-md-12" id="carousel-bounding-box">
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="active item" data-slide-number="0">
                                <img src="images/gallery/2016/slide-1.jpg" class="img-responsive">
                            </div>
                            <div class="item" data-slide-number="1">
                              <img src="images/gallery/2016/slide-2.jpg" class="img-responsive">
                            </div>
                            <div class="item" data-slide-number="2">
                                <img src="images/gallery/2016/slide-3.jpg" class="img-responsive">
                            </div>
                            <div class="item" data-slide-number="3">
                                <img src="images/gallery/2016/slide-4.jpg" class="img-responsive">
                            </div>
                            <div class="item" data-slide-number="4">
                                <img src="images/gallery/2016/slide-5.jpg" class="img-responsive">
                            </div>
                            <div class="item" data-slide-number="5">
                                <img src="images/gallery/2016/slide-6.jpg" class="img-responsive">
                            </div>
                            <div class="item" data-slide-number="6">
                                <img src="images/gallery/2016/slide-7.jpg" class="img-responsive">
                            </div>
                            <div class="item" data-slide-number="7">
                                <img src="images/gallery/2016/slide-8.jpg" class="img-responsive">
                            </div>
                            <div class="item" data-slide-number="8">
                                <img src="images/gallery/2016/slide-9.jpg" class="img-responsive">
                            </div>
                        </div>
    
                    </div>
                </div>

        </div>
    </div>
    <!--/main slider carousel-->
    
      	 <!--thumb navigation carousel -->
    <div class="col-md-12 hidden-sm hidden-xs" id="slider-thumbs">
        
            <!-- thumb navigation carousel items -->
          <ul class="list-inline">
          <li> <a id="carousel-selector-0" class="selected">
            <img src="images/gallery/2016/thumb/slide-1.jpg" class="img-responsive">
          </a></li>
          <li> <a id="carousel-selector-1">
            <img src="images/gallery/2016/thumb/slide-2.jpg" class="img-responsive">
          </a></li>
          <li> <a id="carousel-selector-2">
            <img src="images/gallery/2016/thumb/slide-3.jpg" class="img-responsive">
          </a></li>
          <li> <a id="carousel-selector-3">
            <img src="images/gallery/2016/thumb/slide-4.jpg" class="img-responsive">
          </a></li>
                <li> <a id="carousel-selector-4">
            <img src="images/gallery/2016/thumb/slide-5.jpg" class="img-responsive">
          </a></li>
          <li> <a id="carousel-selector-5">
            <img src="images/gallery/2016/thumb/slide-6.jpg" class="img-responsive">
          </a></li>
          <li> <a id="carousel-selector-6">
            <img src="images/gallery/2016/thumb/slide-7.jpg" class="img-responsive">
          </a></li>
          <li> <a id="carousel-selector-7">
            <img src="images/gallery/2016/thumb/slide-8.jpg" class="img-responsive">
          </a></li>
          <li> <a id="carousel-selector-8">
            <img src="images/gallery/2016/thumb/slide-9.jpg" class="img-responsive">
          </a></li>
            </ul>
        
    </div>
    



<!--<div ng-repeat="slide in slides">{{slide.image}}</div>-->