<div class="container">
    <div class="row">
        <div class="col-md-12">
             <button class="btn newNext" type="button" id="goToNextSlide2014"></button>
            <div class="demo" id="Gal2014">
        <div class="item">            
            <div class="clearfix">
                <ul id="2014-gallery" class="gallery list-unstyled cS-hidden">
                    <li data-thumb="images/gallery/2014/thumb/alpine.jpg"> 
                        <img src="images/gallery/2014/alpine.jpg" />
                    </li>
                    <li data-thumb="images/gallery/2014/thumb/blind-justice.jpg"> 
                        <img src="images/gallery/2014/blind-justice.jpg" />
                     </li>
                    <li data-thumb="images/gallery/2014/thumb/crack.jpg"> 
                        <img src="images/gallery/2014/crack.jpg" />
                     </li>
                    <li data-thumb="images/gallery/2014/thumb/heros.jpg"> 
                        <img src="images/gallery/2014/heros.jpg" />
                     </li>
                    <li data-thumb="images/gallery/2014/thumb/liquor-store.jpg"> 
                        <img src="images/gallery/2014/liquor-store.jpg" />
                     </li>
                    <li data-thumb="images/gallery/2014/thumb/material-girl.jpg"> 
                        <img src="images/gallery/2014/material-girl.jpg" />
                     </li>
                    <li data-thumb="images/gallery/2014/thumb/mps.jpg"> 
                        <img src="images/gallery/2014/mps.jpg" />
                     </li>
                    <li data-thumb="images/gallery/2014/thumb/smiths-bar.jpg"> 
                        <img src="images/gallery/2014/smiths-bar.jpg" />
                    </li>
                    <li data-thumb="images/gallery/2014/thumb/casette.jpg"> 
                        <img src="images/gallery/2014/casette.jpg" />
                    </li>                    
                    <li data-thumb="images/gallery/2014/thumb/erotic-girls.jpg"> 
                        <img src="images/gallery/2014/erotic-girls.jpg" />
                    </li>                    
                    <li data-thumb="images/gallery/2014/thumb/green-yellow-study-2014.jpg"> 
                        <img src="images/gallery/2014/green-yellow-study-2014.jpg" />
                    </li>                    
                    <li data-thumb="images/gallery/2014/thumb/god.jpg"> 
                        <img src="images/gallery/2014/god.jpg" />
                    </li>                    
                </ul>
            </div>
        </div>

        </div>
        <button class="btn newPrev" type="button" id="goToPrevSlide2014"></button>
        </div>
        </div>
    </div>
</div>
