<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="demo">
                 <button class="btn newPrev" type="button" id="goToNextSlide2013"></button>
                <div class="item">            
            <div class="clearfix">
                <ul id="2013-gallery" class="gallery list-unstyled cS-hidden">
                    <li data-thumb="images/gallery/2013/thumb/bestie-boys.jpg"> 
                        <img src="images/gallery/2013/bestie-boys.jpg" />
                         </li>
                    <li data-thumb="images/gallery/2013/thumb/das-efx.jpg"> 
                        <img src="images/gallery/2013/das-efx.jpg" />
                         </li>
                    <li data-thumb="images/gallery/2013/thumb/mickey.jpg"> 
                        <img src="images/gallery/2013/mickey.jpg" />
                         </li>
                    <li data-thumb="images/gallery/2013/thumb/rapper-delight.jpg"> 
                        <img src="images/gallery/2013/rapper-delight.jpg" />
                         </li>
                    <li data-thumb="images/gallery/2013/thumb/skulls.jpg"> 
                        <img src="images/gallery/2013/skulls.jpg" />
                         </li>
                    <li data-thumb="images/gallery/2013/thumb/warhol.jpg"> 
                        <img src="images/gallery/2013/warhol.jpg" />
                         </li>
                    <li data-thumb="images/gallery/2013/thumb/blackout.jpg"> 
                        <img src="images/gallery/2013/blackout.jpg" />
                    </li>
                </ul>
            </div>
        </div>
                <button class="btn newNext" type="button" id="goToPrevSlide2013"></button>
            </div>
        
        
        <!--<button class="btn btn-success" type="button" id="goToNextSlide">Go To Next Slide</button>-->
        <!--<button class="btn btn-success" type="button" id="goToPrevSlide">Go To Prev Slide</button>-->
        </div>
        </div>
    </div>
</div>